.list-group {    
    /* display: none; */
    height: 0px;
    overflow: hidden;
    transition: 1s ;
}
.show {
    /* display: block; */
    height: 210px;
}
.main-bg {
    padding: 100px 20px;
    background: lightgray;
}
.black-bg {
  width : 100%;
  height : 100%;
  position : fixed;
  background : rgba(0,0,0,0.5);
  z-index : 6;
  padding: 30px;
  visibility: hidden;
  opacity: 0; /*투명도(0: 완전 투명, 1: 완전 불투명)*/
  transition: all 1s; /*시작 스타일에 애니메이션 효과 적용(해당 클래스의 모든 스타일에 1초간 애니메이션 효과 적용)*/
}
.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
} 
.show-modal {
    visibility: visible;
    opacity: 1;
}
.dark {
  background-color: black;
  color: white;
}
.carousel-container {
  width: 300vw; /* vw = 브라우저 폭 , 100vw => 브라우저 전체 폭 => 300vw = 전체 브라우저 폭의 3배 */
  /* margin-left: -200vw; margin-left 등의 왼쪽으로 옮기는 스타일을 적용하면 3개의 이미지가 연달아서 있으므로 -100vw면 두 번째 사진, -200vw면 세 번째 사진만 화면에 나타나게 됨 */  
  transition: all 1s;  
}
.carousel-box {
  width: 100vw;
  float: left; /* 왼쪽으로 배치 */
}
.carousel-box img {
  width: 100%;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 5; /* 앞으로 보내기, 뒤로 보내기 */
}
.navbar-brand {
  font-size: 25px;
  transition: all 1.5s;
}
.navbar-brand-size-down {
  font-size: 15px;
}